* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(58, 148, 221);
  padding: 40px;
}

/* start header */
header h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Fruktur', cursive;
  background: -webkit-linear-gradient(rgb(7, 13, 53), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 30px;
}

header ul li {
  padding: 0 20px;
  font-size: 20px;
}

header ul #first-list {
  background-color: red;
}

header ul #first-list:hover {
  background-color: #fff;
}

header ul #second-list {
  background-color: blue;
}

header ul #second-list:hover {
  background-color: #fff;
}

header ul #third-list {
  background-color: green;
}

header ul #third-list:hover {
  background-color: #fff;
}

header ul #fourth-list {
  background-color: orange;
}

header ul #fourth-list:hover {
  background-color: #fff;
}

header ul li a {
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
}

header ul li #first-link:hover {
  color: red;
}

header ul li #second-link:hover {
  color: blue;
}

header ul li #third-link:hover {
  color: green;
}

header ul li #fourth-link:hover {
  color: orange;
}

/* finish header */

/* start main */
main {
  padding: 20px 50px;
  overflow: hidden;
}

main section {
  float: left;
  width: 75%;
  border: 1px solid red;
}

main section h2 {
  text-align: center;
}

main section #items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main section #items .item {
  margin: 10px;
  width: 200px;
}

main aside {
  float: right;
  width: 25%;
  border: 1px solid green;
}

main aside h3 {
  text-align: center;
}
